@font-face {
  font-family: "redemption";
  src: url(./font/Redemption.ttf);
}

body {
  margin: 0;
  font-family: "redemption";
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


